<appender name="HttpAppender" type="Log4Net.HttpAppender.AsyncBatchHttpAppender, Log4Net.HttpAppender">
  <threshold value="Debug" />
  <ServiceUrl value="HTTP_ENDPOINT" />
  <ProjectKey value="FRIEND_DISPLAY_NAME" />
  <Environment value="dev|stage|prod" /> <!-- Optional: Will default to machine name if not set -->
  <layout type="log4net.Layout.PatternLayout">
    <param name="ConversionPattern" value="%date [%identity] %-5level %logger - %message%newline" />
  </layout>
</appender>