<appender name="HttpAppender" type="Log4Net.HttpAppender.AsyncBatchHttpAppender, Log4Net.HttpAppender">
  <threshold value="Debug" />
  <ServiceUrl value="HTTP_ENDPOINT" />
  <ProjectKey value="FRIENDLY_DISPLAY_NAME" />
  <Environment value="dev|stage|prod" /> <!-- Optional: Default to machine name -->
  <BatchMaxSize value="20" /> <!-- Optional: Maximum number of events to submit per processing round. Default's to 20 -->
  <layout type="log4net.Layout.PatternLayout">
    <param name="ConversionPattern" value="%date [%identity] %-5level %logger - %message%newline" />
  </layout>
</appender>