<appender name="HttpAppender" type="Log4Net.HttpAppender.AsyncBatchHttpAppender, Log4Net.HttpAppender">
  <threshold value="Debug" />

  <!-- Required: HTTP endpoint -->
  <ServiceUrl value="HTTP_ENDPOINT" />

  <!-- Required: Project/System ID/Name -->
  <ProjectKey value="FRIENDLY_DISPLAY_NAME" />

  <!-- Optional: Defaults to machine name -->
  <Environment value="dev|stage|prod" />

  <!-- Optional: Maximum number of events to submit per processing round. Default's to 40 -->
  <BatchMaxSize value="20" />

  <!-- Optional: Maximum number of events to submit per processing round. Default's to 40 -->
  <BatchSleepTime value="200" />

  <layout type="log4net.Layout.PatternLayout">
    <param name="ConversionPattern" value="%date [%identity] %-5level %logger - %message%newline" />
  </layout>
</appender>
